.Navigation{
    background-color: yellow;
    border-color: black;
    border-style: solid;

    display:flex;
    justify-content:center;
    align-items:center;
}

.Navigation h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}