.navigation{
    background-color: lightsalmon;
    border-color: black;
    border-style: solid;

    display:flex;
    justify-content:center;
    align-items:center;
}

.navigation h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}